.question {
  background: #fefefe;
  border-radius: 0.5rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 1.5rem;
  transform: translateX(-300px);
  opacity: 0;

  transition: opacity 0.3s ease, transform 0.3s ease;

  & + .question {
    margin-top: 0.5rem;
  }

  &.answered {
    background: #d8dcdd;
  }

  &.highlighted {
    background: #f4f0ff;
    border: 1px solid #835afd;

    footer .user-info span {
      color: #29292e;
    }
  }

  &.isVisible {
    opacity: 1;
    transform: translateX(0);
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 1.5rem;

    div {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
    }

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 0.5rem;
        color: #737380;
        font-size: 0.9rem;
      }
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;

        transition: filter 0.2s ease;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }

        &:hover {
          filter: brightness(0.7);
        }
      }
    }

    @media (min-width: 350px) {
      & {
        justify-content: space-between;
      }

      div {
        margin-top: 0;
      }
    }
  }
}
